<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tinytongtong.thirdpartylibrarystudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".okhttp.OkhttpActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".retrofit.proxy.ProxyActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".leakcanary.LeakCanaryActivity" />
        <activity android:name=".leakcanary.WeakReferenceActivity" />
        <activity android:name=".leakcanary.HandlerLeakActivity" />
        <activity android:name=".leakcanary.NonStaticInnerClassLeakActivity" />
        <activity android:name=".leakcanary.ThreadLeakActivity" />
        <activity android:name=".leakcanary.WebviewLeakActivity" />
        <activity android:name=".blockcanary.BlockCanaryActivity"></activity>
    </application>

</manifest>